# Ignore node_modules (should be installed inside the container)
node_modules

# Ignore local environment files
.env
.env.local
.env.development
.env.production

# Ignore build and dependency files
npm-debug.log
yarn-error.log
package-lock.json

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore logs
logs
*.log
debug.log

# Ignore Git files
.git
.gitignore

# Ignore media uploads (if they shouldn't be in the container)
media/catalog/
storage/
